.portfolio {
  width: 100%;
}

.portfolio__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #A0A0A0;
  mix-blend-mode: normal;
  margin: 100px 0 0;
}

.portfolio__ul {
  margin: 50px 0 125px;
  padding: 0;
}

.portfolio__li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  border-top: 1px solid #E8E8E8;
  padding: 19px 0 20px;
}

.portfolio__li:first-of-type {
  border-top: none;
  padding-top: 0;
}

.portfolio__li:last-of-type {
  padding-bottom: 0;
}

.portfolio__link {
  text-decoration: none;
  color: #000000;
  transition: .3s ease;
}

.portfolio__link:hover {
  opacity: 0.6;
  transition: opacity .3s ease;
}

@media screen and (max-width: 1080px) {
  .portfolio__title {
    margin: 90px 0 0;
  }

  .portfolio__ul {
    margin: 50px 0 90px;
  }

  .portfolio__li {
    font-size: 28px;
    padding: 19px 0 20px;
  }
}

@media screen and (max-width: 720px) {
  .portfolio__title {
    margin: 70px 0 0;
    font-size: 14px;
  }

  .portfolio__ul {
    margin: 40px 0 70px;
  }

  .portfolio__li {
    font-size: 18px;
    line-height: 28px;
    padding: 19px 0 20px;
  }
}