.aboutProject {
  width: 100%;
  min-height: 608px;
}

.aboutProject__container {
  width: 85%;
  max-width: 1280px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.aboutProject__title {
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  margin: 110px 0 0;
  padding-bottom: 23px;
  box-sizing: border-box;
  border-bottom: 1px solid #000;
  letter-spacing: -0.04em;
}

.aboutProject__dl {
  display: grid;
  grid-template-columns:  1fr 1fr;
  grid-gap: 40px;
  margin: 0;
}

.aboutProject__dt {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
  color: #000000;
  margin-top: 70px;
}

.aboutProject__dd {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  margin: 26px 0 0;
}

.aboutProject__table {
  margin-top: 110px;
  text-align: center;
  border-spacing: 0;
}

.aboutProject__tableRow {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.aboutProject__tableRow_upper {
  height: 36px;
  background-color: #F2F2F2;
}

.aboutProject__tableCell {
  padding: 0;
  color: #000;
}

.aboutProject__tableCell_short {
  width: 20%;
}

.aboutProject__tableCell_accented {
  background-color: #2BE080;
}

.aboutProject__tableCell_lower {
  padding: 14px;
  color: #A0A0A0;
}