.footer {
  width: 100%;
  min-height: 172px;
  background-color: #FAFAFA;
}

.footer__container {
  width: 85%;
  max-width: 1280px;
  margin: 0 auto 20px;
  display: flex;
  flex-direction: column;
}

.footer__description {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #A0A0A0;
  margin: 79px auto 20px;
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  padding: 20px 0 0;
  border-top: 1px solid #E8E8E8;
}

.footer__year {
  margin: 0;
  color: #000;
}

.footer__links {
  display: flex;
}

.footer__link {
  margin-left: 20px;
  text-decoration: none;
  color: #000;
}

.footer__link:first-of-type {
  margin-left: 0;
}