.aboutMe {
  width: 100%;
}

.aboutMe__title {
  margin: 110px 0 0;
}

.aboutMe__myCard {
  margin: 66px 0 0;
  position: relative;
  min-height: 327px;
}

.aboutMe__myName {
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  color: #000000;
  margin: 0;
}

.aboutMe__myInfo {
  margin: 18px 0 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  mix-blend-mode: normal;
}

.aboutMe__myComment {
  max-width: 600px;
  margin: 26px 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  mix-blend-mode: normal;
}

.aboutMe__myLinks {
  position: absolute;
  bottom: 0;
}

.aboutMe__myLink {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-left: 20px;
  text-decoration: none;
  transition: .3s ease;
}

.aboutMe__myLink:hover {
  opacity: 0.6;
  transition: opacity .3s ease;
}

.aboutMe__myLink:first-of-type {
  margin-left: 0;
}

.aboutMe__myPhoto {
  width: 270px;
  height: 327px;
  border-radius: 10px;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 1080px) {
  .aboutMe__title {
    margin: 90px 0 0;
  }

  .aboutMe__myName {
    font-size: 40px;
    line-height: 40px;
  }

  .aboutMe__myInfo {
    margin: 16px 0 0;
    font-size: 12px;
    line-height: 18px;
  }
  
  .aboutMe__myComment {
    max-width: 364px;
    margin: 20px 0 0;
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 720px) {
  .aboutMe__title {
    margin: 70px 0 0;
  }

  .aboutMe__myCard {
    margin: 60px 0 0;
  }

  .aboutMe__myName {
    margin: 40px 0 0;
    font-size: 30px;
    line-height: 36px;
  }

  .aboutMe__myInfo {
    margin: 20px 0 0;
    font-size: 11px;
    line-height: 16px;
  }
  
  .aboutMe__myComment {
    max-width: 364px;
    margin: 20px 0 0;
    font-size: 11px;
    line-height: 16px;
  }

  .aboutMe__myPhoto {
    width: 292px;
    height: 352px;
    position: relative;
  }

  .aboutMe__myLinks {
    position: relative;
    margin: 40px 0 0;
  }

  .aboutMe__myLink {
    margin-left: 26px;
  }
}